<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create new user</title>
</head>
<body>
<p>Enter custom data</p>
<form action="#" th:action="@{/admin/user-create}" th:object="${user}" method="post">


  <label for="name">Name</label>
  <input th:name="name" type="text" th:field="*{name}" id="name" placeholder="Name">
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email" placeholder="Email">
  <label for="age">Age</label>
  <input type="text" th:field="*{age}" id="age" placeholder="Age">
  <label for="password">Password</label>
  <input type="text" th:field="*{password}" id="password" placeholder="Password">
  <br/>
  <input type="submit" value="Create user">
  <form>
    <p>
      <label>
        <input type="checkbox" th:name="role" th:value="ADMIN">
        Make an Admin
      </label>
    </p>

  </form>

</form>

<form th:action="@{/admin}">
  <button type="submit">Back</button>
</form>
<form class="form-signin" method="get" action="/logout">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
</form>

</body>
</html>