<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>User</title>
</head>
<body>
<h2> This is your page </h2>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Role</th>
  </tr>
  <tr>
    <td><p th:text="${user.getId()}">VALUE</p></td>
    <td><p th:text="${user.getName()}">VALUE</p></td>
    <td><p th:text="${user.getEmail()}">VALUE</p></td>
    <td><p th:text="${user.getAge()}">VALUE</p></td>
    <td><p th:text="${user.getRoles()}">VALUE</p></td>
  <tr>
</table>

<form th:action="@{/}">
  <button type="submit">Home</button>
</form>
<form class="form-signin" method="get" action="/logout">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
</form>
</form>

</body>
</html>